USE [master]
GO
/****** Object:  Database [Gamefilleddb]    Script Date: 23/03/2026 00:08:34 ******/
CREATE DATABASE [Gamefilleddb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gamefilleddb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gamefilleddb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gamefilleddb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gamefilleddb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gamefilleddb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gamefilleddb]
GO
/****** Object:  Table [dbo].[Follows]    Script Date: 23/03/2026 00:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follows](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FollowerId] [int] NOT NULL,
	[FollowingId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActivities]    Script Date: 23/03/2026 00:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[TargetUserId] [int] NULL,
	[GameId] [int] NULL,
	[MetaJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFavoriteGames]    Script Date: 23/03/2026 00:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavoriteGames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/03/2026 00:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[Bio] [nvarchar](500) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[BannerUrl] [nvarchar](500) NULL,
	[LastSeenAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Follows] ON 

INSERT [dbo].[Follows] ([Id], [FollowerId], [FollowingId], [CreatedAt]) VALUES (4, 2, 1, CAST(N'2026-03-22T20:57:24.0266657' AS DateTime2))
INSERT [dbo].[Follows] ([Id], [FollowerId], [FollowingId], [CreatedAt]) VALUES (11, 1, 2, CAST(N'2026-03-22T22:12:57.3369769' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Follows] OFF
GO
SET IDENTITY_INSERT [dbo].[UserActivities] ON 

INSERT [dbo].[UserActivities] ([Id], [UserId], [Type], [TargetUserId], [GameId], [MetaJson], [CreatedAt]) VALUES (1, 1, N'followed_user', 2, NULL, NULL, CAST(N'2026-03-22T22:12:57.3533023' AS DateTime2))
INSERT [dbo].[UserActivities] ([Id], [UserId], [Type], [TargetUserId], [GameId], [MetaJson], [CreatedAt]) VALUES (2, 1, N'updated_favorites', NULL, NULL, NULL, CAST(N'2026-03-22T22:13:55.0617063' AS DateTime2))
INSERT [dbo].[UserActivities] ([Id], [UserId], [Type], [TargetUserId], [GameId], [MetaJson], [CreatedAt]) VALUES (3, 1, N'updated_favorites', NULL, NULL, NULL, CAST(N'2026-03-22T22:14:15.0508671' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserActivities] OFF
GO
SET IDENTITY_INSERT [dbo].[UserFavoriteGames] ON 

INSERT [dbo].[UserFavoriteGames] ([Id], [UserId], [GameId], [SortOrder], [CreatedAt], [IsPrimary]) VALUES (80, 1, 242408, 1, CAST(N'2026-03-22T23:39:56.9714518' AS DateTime2), 0)
INSERT [dbo].[UserFavoriteGames] ([Id], [UserId], [GameId], [SortOrder], [CreatedAt], [IsPrimary]) VALUES (81, 1, 15707, 2, CAST(N'2026-03-22T23:39:56.9714898' AS DateTime2), 1)
INSERT [dbo].[UserFavoriteGames] ([Id], [UserId], [GameId], [SortOrder], [CreatedAt], [IsPrimary]) VALUES (82, 1, 115, 3, CAST(N'2026-03-22T23:39:56.9715001' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[UserFavoriteGames] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [CreatedAt], [Username], [Role], [PasswordHash], [DisplayName], [Bio], [AvatarUrl], [BannerUrl], [LastSeenAt]) VALUES (1, N'admin@gamefilled.pt', CAST(N'2026-02-02T18:09:41.437' AS DateTime), N'admin', N'Admin', N'$2a$11$dHJeMSlWAk5qZtqQS0k.CuY/fGwamnlxSCip4vcKAFchC7/Ok/k1C', N'admin', NULL, N'https://i.pinimg.com/736x/8d/c2/3c/8dc23c5d9639cd82fcad0c3e1ac304ef.jpg', N'https://pbs.twimg.com/media/EUCU6kvXgAIILfr.jpg', CAST(N'2099-12-31T23:59:59.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Email], [CreatedAt], [Username], [Role], [PasswordHash], [DisplayName], [Bio], [AvatarUrl], [BannerUrl], [LastSeenAt]) VALUES (2, N'teste1@gmail.com', CAST(N'2026-02-03T20:10:40.920' AS DateTime), N'teste1', N'User', N'$2a$11$luxI98OBKoBEgDe99mU/DeL6Gz7g7kE/wYDII6bNR3L7RYB9Bi5h2', N'teste1', NULL, NULL, NULL, CAST(N'2026-02-03T20:10:40.9200000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Email], [CreatedAt], [Username], [Role], [PasswordHash], [DisplayName], [Bio], [AvatarUrl], [BannerUrl], [LastSeenAt]) VALUES (3, N'testehash@gmail.com', CAST(N'2026-02-03T22:08:29.763' AS DateTime), N'testehash', N'User', N'$2a$11$lm9uVwmaFnmLe0pi3GC.seykjfLV9fXG8Zj4mSdBoyL2OHQ0/VTS.', N'testehash', NULL, NULL, NULL, CAST(N'2026-02-03T22:08:29.7633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Follows_FollowerId_FollowingId]    Script Date: 23/03/2026 00:08:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Follows_FollowerId_FollowingId] ON [dbo].[Follows]
(
	[FollowerId] ASC,
	[FollowingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserActivities_UserId_CreatedAt]    Script Date: 23/03/2026 00:08:34 ******/
CREATE NONCLUSTERED INDEX [IX_UserActivities_UserId_CreatedAt] ON [dbo].[UserActivities]
(
	[UserId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserFavoriteGames_UserId_GameId]    Script Date: 23/03/2026 00:08:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserFavoriteGames_UserId_GameId] ON [dbo].[UserFavoriteGames]
(
	[UserId] ASC,
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserFavoriteGames_UserId_SortOrder]    Script Date: 23/03/2026 00:08:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserFavoriteGames_UserId_SortOrder] ON [dbo].[UserFavoriteGames]
(
	[UserId] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 23/03/2026 00:08:34 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Username]    Script Date: 23/03/2026 00:08:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_Email]    Script Date: 23/03/2026 00:08:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Follows] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserActivities] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserFavoriteGames] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserFavoriteGames] ADD  CONSTRAINT [DF_UserFavoriteGames_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [FK_Follows_Follower] FOREIGN KEY([FollowerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [FK_Follows_Follower]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [FK_Follows_Following] FOREIGN KEY([FollowingId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [FK_Follows_Following]
GO
ALTER TABLE [dbo].[UserActivities]  WITH CHECK ADD  CONSTRAINT [FK_UserActivities_TargetUser] FOREIGN KEY([TargetUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserActivities] CHECK CONSTRAINT [FK_UserActivities_TargetUser]
GO
ALTER TABLE [dbo].[UserActivities]  WITH CHECK ADD  CONSTRAINT [FK_UserActivities_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserActivities] CHECK CONSTRAINT [FK_UserActivities_Users]
GO
ALTER TABLE [dbo].[UserFavoriteGames]  WITH CHECK ADD  CONSTRAINT [FK_UserFavoriteGames_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserFavoriteGames] CHECK CONSTRAINT [FK_UserFavoriteGames_Users]
GO
ALTER TABLE [dbo].[Follows]  WITH CHECK ADD  CONSTRAINT [CK_Follows_NoSelfFollow] CHECK  (([FollowerId]<>[FollowingId]))
GO
ALTER TABLE [dbo].[Follows] CHECK CONSTRAINT [CK_Follows_NoSelfFollow]
GO
ALTER TABLE [dbo].[UserFavoriteGames]  WITH CHECK ADD  CONSTRAINT [CK_UserFavoriteGames_SortOrder] CHECK  (([SortOrder]>=(1) AND [SortOrder]<=(5)))
GO
ALTER TABLE [dbo].[UserFavoriteGames] CHECK CONSTRAINT [CK_UserFavoriteGames_SortOrder]
GO
USE [master]
GO
