USE [master]
GO
/****** Object:  Database [Gamefilleddb]    Script Date: 08/02/2026 23:28:25 ******/
CREATE DATABASE [Gamefilleddb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gamefilleddb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gamefilleddb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gamefilleddb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gamefilleddb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gamefilleddb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gamefilleddb]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/02/2026 23:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [CreatedAt], [Username], [Role], [PasswordHash]) VALUES (1, N'admin@gamefilled.pt', CAST(N'2026-02-02T18:09:41.437' AS DateTime), N'admin', N'Admin', N'$2a$11$dHJeMSlWAk5qZtqQS0k.CuY/fGwamnlxSCip4vcKAFchC7/Ok/k1C')
INSERT [dbo].[Users] ([Id], [Email], [CreatedAt], [Username], [Role], [PasswordHash]) VALUES (2, N'teste1@gmail.com', CAST(N'2026-02-03T20:10:40.920' AS DateTime), N'teste1', N'User', N'$2a$11$luxI98OBKoBEgDe99mU/DeL6Gz7g7kE/wYDII6bNR3L7RYB9Bi5h2')
INSERT [dbo].[Users] ([Id], [Email], [CreatedAt], [Username], [Role], [PasswordHash]) VALUES (3, N'testehash@gmail.com', CAST(N'2026-02-03T22:08:29.763' AS DateTime), N'testehash', N'User', N'$2a$11$lm9uVwmaFnmLe0pi3GC.seykjfLV9fXG8Zj4mSdBoyL2OHQ0/VTS.')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 08/02/2026 23:28:25 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Username]    Script Date: 08/02/2026 23:28:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_Email]    Script Date: 08/02/2026 23:28:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
USE [master]
GO
